.btn-margin-left{
    margin-left: 4px;
}
.no-border{
    border-style: none;
}
.card-container{
    position: relative;
}
.button-right{
    position: absolute;
    right: 21px;
}
.nav-fill {
  .nav-item{
    flex: 0 0 auto;
  }
}
.nav-tabs{
  border-style: none;
  .nav-link{
    cursor: pointer;
    padding: 10px 25px;
  }
  .nav-item {
    margin-bottom: 0px;
  }
}
.nav-tabs .nav-link.active {
    color: #000;
    background-color: #ffffff;
    border-color: #ebedf2 #ebedf2 #4d83ff;
}
.row-margin{
  margin-top: 5px;
  margin-bottom: 5px;
}
.toggle-expand-collapse{
  cursor: pointer;
}

.select-holder.input-holder{
    label{
        display: inline;
    }
    text-align: right;
    margin-left: auto;
}

.toggle-expand-collapse{
  padding: 10px;
}
.system_button{
  width: 140px;
  height: 40px;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ng5-slider{
        margin-top: 13px;
    }
  .custom-slider .ng5-slider .ng5-slider-bar {
    background:#d8e0f3;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background:#d8e0f3;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color:#d8e0f3;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #d8e0f3;
  }
}