<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card no-border">
            <div class="card-body">
                <div class="form-group select-holder input-holder">
                    <ng-autocomplete #auto [data]="clients" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        placeHolder="Search by client name" [initialValue]="selectedClientId" class="add-input"
                        (inputChanged)='onChangeSearch($event)' (inputCleared)="onClear()"
                        [itemTemplate]="itemTemplate">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <div class="item">
                            <span *ngIf="item" [innerHTML]="item.name"></span>
                        </div>
                    </ng-template>
                </div>
                <!-- <ng-container *ngIf="selectedClientId">
                    <button type="button" class="btn btn-outline-primary btn-fw"
                        [ngClass]="{'active': currentTab=='system'}" (click)="toggleTab('system')">System</button>
                    <button type="button" class="btn btn-outline-primary btn-fw btn-margin-left"
                        [ngClass]="{'active': currentTab=='rules'}" (click)="toggleTab('rules')">Rules</button>
                </ng-container> -->
            </div>
        </div>
    </div>
    <div *ngIf="!selectedClientId" class="col-md-12 row">
        <span style="    width: 70%;text-align: center;color: #847c7c;margin: auto;padding: 25px;background: #f3f3f3;">
            Please choose a client by start typing the client name above to see the settings.
        </span>
    </div>

    <div class="col-md-12" *ngIf="selectedClientId">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" [ngClass]="{'active': currentTab=='system'}"
                    (click)="toggleTab('system')">System</a>
                <a class="nav-item nav-link" [ngClass]="{'active': currentTab=='rules'}"
                    (click)="toggleTab('rules')">Rules</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" [ngSwitch]="currentTab">
            <div class="tab-pane fade" [ngClass]="{'active': currentTab=='system','show': currentTab=='system'}"
                id="nav-home" *ngSwitchCase="'system'">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card no-border">
                        <div class="card-body">
                            <ng-container *ngFor="let item of items">
                                <h4 class="toggle-expand-collapse" (click)="expandCollapse(item)">
                                    <i class="mdi"
                                        [ngClass]="{'mdi-arrow-down-drop-circle': currentMenu==item.id,'mdi-arrow-right-drop-circle': currentMenu!=item.id}"></i>
                                    <span style="color: #767474;padding-left: 10px;">{{item.name}}</span>
                                </h4>
                                <div class="row" *ngIf="currentMenu==item.id">
                                    <div class="col-md-12 row" style="padding-bottom: 15px;">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-sm system_button btn-outline-primary btn-fw">High Risk
                                            GL</button>
                                    </div>
                                    <div class="col-8">
                                        <select2 name="gls" class="text-input" [data]="gls" [value]="glsInitialValue"
                                            [options]="glsOptions" (valueChanged)="glsChange($event)">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-md-12 row" style="padding-bottom: 15px;">
                                    <div class="col-4">
                                        <button type="button"
                                            class="btn btn-sm btn-outline-primary system_button btn-fw">Threshold</button>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="text" placeholder="Text">
                                    </div>
                                </div>
                                <div class="col-md-12 row" style="padding-bottom: 15px;">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-sm btn-outline-primary system_button btn-fw">Exmpled
                                            GLS</button>
                                    </div>
                                    <div class="col-8">
                                        <select2 name="gls" class="text-input" [data]="gls" [value]="glsInitialValue"
                                            [options]="glsOptions" (valueChanged)="glsChange($event)">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-md-12 row" style="padding-bottom: 15px;">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-sm btn-outline-primary system_button btn-fw">Ex.GL
                                            Thresholds</button>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="text" placeholder="Text" style="height: 40px;">
                                    </div>
                                    </div>
                                </div>
                            </ng-container>
                            <button type="submit" class="btn btn-primary mr-2 button-right"
                                (click)="saveSystemSettings()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="{'active': currentTab=='rules','show': currentTab=='rules'}"
                id="nav-profile" *ngSwitchCase="'rules'">
                <div class="col-md-12 grid-margin stretch-card card-container">
                    <div class="card no-border">
                        <div class="card-body">
                            <div class="table-responsive pt-3 custom-slider">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;">
                                                Rule ID
                                            </th>
                                            <th>
                                                Rule Name
                                            </th>
                                            <th>
                                                Weightage Scale
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let rule of rules">
                                            <td>
                                                {{rule.rule_number}}
                                            </td>
                                            <td>
                                                {{rule.display_name}}
                                            </td>
                                            <td>
                                                <ng5-slider [options]="options" [(value)]="rule.weight">
                                                </ng5-slider>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2 button-right"
                                (click)="saveRules()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <ng-container *ngIf="selectedClientId" [ngSwitch]="currentTab">
        <div class="col-md-12 grid-margin stretch-card" *ngSwitchCase="'system'">
            <div class="card no-border">
                <div class="card-body">
                    <ng-container *ngFor="let item of items">
                        <h3 class="toggle-expand-collapse" (click)="expandCollapse(item)">
                            <i class="mdi"
                                [ngClass]="{'mdi-arrow-down-drop-circle': currentMenu==item.id,'mdi-arrow-right-drop-circle': currentMenu!=item.id}"></i>
                            {{item.name}}
                        </h3>
                        <div class="template-demo" *ngIf="currentMenu==item.id">
                            <div class="row row-margin">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-primary btn-fw">High Risk GL</button>
                                </div>
                                <div class="col-8">
                                    <select2 name="gls" class="text-input" [data]="gls" [value]="glsInitialValue"
                                        [options]="glsOptions" (valueChanged)="glsChange($event)">
                                    </select2>
                                </div>
                            </div>
                            <div class="row row-margin">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-primary btn-fw">Threshold</button>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="text" placeholder="Text">
                                </div>
                            </div>
                            <div class="row row-margin">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-primary btn-fw">Exmpled GLS</button>
                                </div>
                                <div class="col-8">
                                    <select2 name="gls" class="text-input" [data]="gls" [value]="glsInitialValue"
                                        [options]="glsOptions" (valueChanged)="glsChange($event)">
                                    </select2>
                                </div>
                            </div>
                            <div class="row row-margin">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-primary btn-fw">Ex.GL
                                        Thresholds</button>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="text" placeholder="Text">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <button type="submit" class="btn btn-primary mr-2 button-right"
                        (click)="saveSystemSettings()">Save</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 grid-margin stretch-card card-container" *ngSwitchCase="'rules'">
            <div class="card no-border">
                <div class="card-body">
                    <div class="table-responsive pt-3 custom-slider">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Rule ID
                                    </th>
                                    <th>
                                        Rule Name
                                    </th>
                                    <th>
                                        Weightage Scale
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rule of rules">
                                    <td>
                                        {{rule.rule_number}}
                                    </td>
                                    <td>
                                        {{rule.display_name}}
                                    </td>
                                    <td>
                                        <ng5-slider [options]="options" [(value)]="rule.weight">
                                        </ng5-slider>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2 button-right" (click)="saveRules()">Save</button>
                </div>
            </div>
        </div>
    </ng-container> -->
</div>