<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <!-- <img src="../../../assets/images/logo.svg" alt="logo"> -->
                            <h3>RISK RATING ENGINE</h3>
                        </div>
                        <h5>Sign in to continue.</h5>
                        <!-- <h6 class="font-weight-light">Sign in to continue.</h6> -->
                        <form class="pt-3 frm" [formGroup]="loginFrm">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" autocomplete="off"
                                    id="exampleInputEmail1" formControlName="username" placeholder="Username">
                                <span *ngIf="isFormSubmitted && formControls.username.errors" class="has-error">
                                    <ul>
                                        <li *ngIf="formControls.username.errors.required">Username is required.</li>
                                    </ul>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" formControlName="password"
                                    id="exampleInputPassword1" placeholder="Password">
                                <span *ngIf="isFormSubmitted && formControls.password.errors" class="has-error">
                                    <ul>
                                        <li *ngIf="formControls.password.errors.required">Password is required.</li>
                                    </ul>
                                </span>
                            </div>
                            <div class="mt-3">
                                <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                    (click)="login()">SIGN IN</a>
                            </div>
                            <!-- <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input">
                                        Keep me signed in
                                    </label>
                                </div>
                                <a href="#" class="auth-link text-black">Forgot password?</a>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>