.action{
    cursor: pointer;
    color: #6493ff !important;
}
.pull-right{
    float: right;
}
.card-container{
    position: relative;
}
.button-right{
    position: absolute;
    right: 21px;
    top: 24px;
}