<div class="content-wrapper">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body card-container">
                    <h4 class="card-title">Clients</h4>
                    <button type="submit" class="btn btn-sm btn-primary mr-2 button-right"
                        (click)="addOREdit('add')">Add
                        Client</button>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="clients && clients.length">
                                    <tr *ngFor="let client of clients ; let i=index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{client.name}}
                                        </td>
                                        <td>
                                            {{client.username}}
                                        </td>
                                        <td>
                                            {{client.email}}
                                        </td>
                                        <td>
                                            <a class="action" (click)="addOREdit('edit',client)">Edit</a>
                                        </td>
                                        <td>
                                            <a class="action" (click)="delete(client)">Delete</a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add client form -->
    <ngx-smart-modal #addClient identifier="addClient">
        <div class="card-body">
            <h4 class="card-title" *ngIf="actionTitle">{{actionTitle}}</h4>
            <form class="forms-sample frm" [formGroup]="clientForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
                    <span *ngIf="isFormSubmitted && formControls.name.errors" class="has-error">
                        <ul>
                            <li *ngIf="formControls.name.errors.required">Name is required.</li>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="username" id="username"
                        placeholder="Username">
                    <span *ngIf="isFormSubmitted && formControls.username.errors" class="has-error">
                        <ul>
                            <li *ngIf="formControls.username.errors.required">Username is required.</li>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                    <span *ngIf="isFormSubmitted && formControls.email.errors" class="has-error">
                        <ul>
                            <li *ngIf="formControls.email.errors.required">Email is required.</li>
                            <li *ngIf="formControls.email.errors.pattern">Invalid email ID.</li>
                        </ul>
                    </span>
                </div>
                <!-- <div class="form-group">
                    <label for="short_name">Short Name</label>
                    <input type="text" class="form-control" id="short_name" formControlName="short_name"
                        placeholder="Short Name">
                </div> -->
                <div class="form-group row">
                    <!-- row -->
                    <label class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-4" style="padding-top: 8px;">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="status" name="status"
                                    id="active_status" value="active" [checked]="formControls.status.value=='active'">
                                Active
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding-top: 8px;">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="status" name="status"
                                    id="inactive_status" value="inactive"
                                    [checked]="formControls.status.value=='inactive'">
                                Inactive
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <span *ngIf="isFormSubmitted && formControls.status.errors" class="has-error">
                        <ul>
                            <li *ngIf="formControls.status.errors.required">Status is required.</li>
                        </ul>
                    </span>
                </div>
                <div class="form-group row">
                        <a class="action" (click)="goToSettings()" *ngIf="isEdit">Click here to go to
                                settings</a>
                </div>
                <button type="submit" class="btn btn-sm btn-primary mr-2" (click)="updateClient()"
                    *ngIf="isEdit">Update</button>
                <button type="submit" class="btn btn-sm btn-primary mr-2" (click)="saveClient()"
                    *ngIf="!isEdit">Save</button>
                
                <button class="btn btn-sm btn-light" (click)="resetForm()">Cancel</button>
            </form>
        </div>
    </ngx-smart-modal>

    <!-- Delete confirmation -->
    <ngx-smart-modal #deleteConfirm identifier="deleteConfirm">
        <div class="card-body">
            <p class="card-description">
                Are you sure want to delete this client?
            </p>
            <form class="forms-sample">
                <button type="submit" class="btn btn-sm btn-primary mr-2 pull-right"
                    (click)="confirmDelete()">Proceed</button>
                <button class="btn btn-sm btn-light pull-right" (click)="cancelDelete()">Cancel</button>
            </form>
        </div>
    </ngx-smart-modal>


</div>