<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <form class="forms-sample frm" [formGroup]="profileForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
                        <span class="has-error" *ngIf="isFormSubmitted && formControls.name.errors">
                            <ul>
                                <li *ngIf="formControls.name.errors.required">Name is required</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
                        <span class="has-error" *ngIf="isFormSubmitted && formControls.email.errors">
                            <ul>
                                <li *ngIf="formControls.email.errors.required">Email is required</li>
                                <li *ngIf="formControls.email.errors.pattern">Invalid email id</li>
                            </ul>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" (click)="updateProfile()">Update</button>
                    <button class="btn btn-light" (click)="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>