<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="width: 100%;text-align: center !important;">Copyright © 2019 Risk Rating
                Engine. All rights reserved.</span>
    </div>
</footer>