<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" *ngIf="sidebarMenuList">
        <li class="nav-item" *ngFor="let menu of sidebarMenuList" (click)="toggleMenu(menu)"
            [ngClass]="{active: selectedMenu==menu.id}">
            <a class="nav-link">
                <i class="{{menu.icon}}"></i>
                <span class="menu-title">{{menu.title}}</span>
            </a>
        </li>
    </ul>
</nav>