/*------------------------------------------------------------------
 [Master Stylesheet]

  Project:	Majestic Admin
  Version:	1.1.0
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Bootstrap variables
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Button Mixins
    + Miscellaneous Mixins
    + Cards Mixins
    + Color Functions Mixins
    + Badge Mixins
    + Blockquote Mixins
    
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Backgrounds
    + Typography
    + Miscellaneous
    + Footer
    + Utilities
    + Demo styles
  * Components
    + Buttons
    + Badges
    + Bootstrap Progress
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Icons
    + Lists
    + Tables
  * Plugin overrides
    + Data-tables  
  * Landing screens
    + Auth
  * Layout
    + Vertical wrapper
    + Sidebar
    + Navbar
    + Layouts
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
/* === Import Bootstrap functions and variables === */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import "./sass/variables";

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "../node_modules/compass-mixins-fixed/lib/compass";
@import "../node_modules/compass-mixins-fixed/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "../node_modules/bootstrap/scss/bootstrap";

/*-------------------------------------------------------------------*/
/* === Template mixins === */
@import "./sass/mixins/misc";
@import "./sass/mixins/animation";
@import "./sass/mixins/badges";
@import "./sass/mixins/blockqoute";
@import "./sass/mixins/buttons";
@import "./sass/mixins/cards";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "./sass/reset";
@import "./sass/fonts";
@import "./sass/functions";
@import "./sass/background";
@import "./sass/typography";
@import "./sass/misc";
@import "./sass/footer";
@import "./sass/utilities";
@import "./sass/demo";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "./sass/components/buttons";
@import "./sass/components/badges";
@import "./sass/components/bootstrap-progress";
@import "./sass/components/cards";
@import "./sass/components/checkbox-radio";
@import "./sass/components/dropdown";
@import "./sass/components/forms";
@import "./sass/components/icons";
@import "./sass/components/lists";
@import "./sass/components/tables";

/*-------------------------------------------------------------------*/


/* === Plugin overrides === */
@import "./sass/components/plugin-overrides/data-tables";

/*-------------------------------------------------------------------*/


/* === Landing screens === */
@import "./sass/landing-screens/auth";


@import "./sass/vertical-wrapper";
@import "./sass/sidebar";
@import "./sass/navbar";
@import "./sass/layouts";
@import "~ngx-smart-modal/ngx-smart-modal";

.has-error{
  color: red;
    position: absolute;
    right: 0px;
    ul{
      list-style: none;
      li{
        font-size: 12px;
      }
    }
}
.frm{
  position: relative;
}

         .select2-container{

            width: 100% !important;
    }


.select2-container {
            width: 100%;
            line-height: 33px;
          }
          
          .select2-results__option {
            padding-right: 20px;
            vertical-align: middle;
            font-size: .81rem;
            color: #A4A4A4;
          }
          .multi-drop{
            .select2-results__option:before {
                content: "";
                display: inline-block;
                position: relative;
                width: 18px;
                height: 16px;
                // border:1px solid $input_border;
                border-radius: 4px;
                background-color: #fff;
                margin-right: 10px;
                vertical-align: middle;
                top: -2px;
                border: 2px solid #CCCCCC;
              }
              .select2-results__option[aria-selected=true]:before {
            
                content: "";
                // color: #fff;
                
                display: inline-block;
                padding-left: 3px;
                height: 18px;
                width: 16px;
                background-position: center;
                background-size: 12px;
                border: 2px solid #CCCCCC;
              }
          }
        
          .select2-results__option[aria-selected=true]{
              background: #FFF !important;
          }
       
        .select2-selection--multiple .select2-selection__choice{
            background: transparent !important;
            font-size: .81rem;
            color:  #000000;
            border: none;
            border: none !important
        }
        .select2-selection--multiple{
            border: 1px solid #CCC;
            border-radius: 8px;
            // padding-right: 100px;
               padding-right:47px;
        }
    
        
          .select2-container--default .select2-results__option--highlighted[aria-selected] {
              background-color: #FFF;
              color:  #686868;
          }
          .select2-container--default .select2-selection--multiple {
              margin-bottom: 10px;
              border: 1px solid #CCC;
              border-radius: 8px;
          }
          .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
              border-radius: 8px;
          }
          .select2-container--default.select2-container--focus .select2-selection--multiple {
            border:1px solid #ccc;
            line-height: 33px;
            border-radius: 8px;
            // height:80px;
          }
          .select2-container--default .select2-selection--multiple {
              border-width: 1px;
          }
          .select2-container--open .select2-dropdown--below {
              border: 1px solid #CCC;
              box-shadow: .42px 0px 6px 0px rgba(0, 0, 0, .19);
            //   border-radius: 8px;
            // box-shadow: 0 0 10px rgba(0,0,0,0.5);
          
          }
          .select2-selection .select2-selection--multiple:after {
              content: 'hhghgh';
          }